html {
 align-items: center;
 background-color:black;
 color:green;
 text-align:center;
 font-family:Monospace;
 font-size:200%;
}

body{
  padding: 25px;
}

hr {
  border-top: 1px solid green;
}

a {
  text-decoration:none;
  color:green;
}

h2{
  border:0.5em outset green;
  width:fit-content;
  height:fit-content;
  color:black;
  background-color:green;
}

.heading {
  border:1em solid green;
  font-size:16px;
  text-align:center;
  width:fit-content;
  padding:0px 5px;
  margin:1em 1em;
}

.top_menu {
  padding:0px 0px;
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  text-align:center;
  border-bottom:2px solid green;
  gap:2px;
}

.menu {
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  text-align:center;
  vertical-align:middle;
  gap:50px;
}

.categories {
  margin:3em 3em;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  text-align:center;
  gap:10px;
}
