<!DOCTYPE html>
<html>
<head>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='personal.css') }}">
</head>

<center><h1>How To Reach Me!</h1></center>

<body>

<div class="top_menu">
  <hr>
  <a href="{{ url_for('main') }}"><p>| home |</p></a>
  <hr>
</div>

<div class="contact">
	<center>
	<h2>Phone: (315) 907-2856</h2>
	<h2>Email: johnbastian112806@gmail.com</h2>
	<a href="https://github.com/Jscunnin"><h2>GitHub: Jscunnin</h2></a>
	</center>
</div>

</body>
</html>
